<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="ur"/>
  <!-- Use OUR macro that has camera collision disabled -->
  <xacro:include filename="$(find paint_defect_robot)/config/ur_macro.srdf.xacro"/>
  <xacro:ur_srdf/>
</robot>
